@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Poppins', sans-serif;
    
}
/* For most modern browsers */
body {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  